.noteSummary {
  padding: 1.6rem 3rem;
  border-bottom: 1px solid $grayMedium;
  border-left: 5px solid transparent;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.6rem;

  box-sizing: border-box;
  overflow: hidden;

  mark {
    background-color: #FFD63F;
  }

  .title {
    font-weight: 600;
    padding-bottom: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date {
    display: inline;
    color: $textColorLight;
    font-size: 1.2rem;
    padding-right: .8rem;
  }

  .excerpt {
    display: inline;
    font-size: 1.3rem;
    font-weight: 300;
  }

  &:last-child {
    border-bottom: none;
  }

  &:focus {
    outline: none;
  }

  &.isActive {
    background-color: white;
    border-left: 5px solid $textColor;
  }

  &.isHighlighted {
    background-color: white;
    border-left: 5px solid $textColorHighlight;
  }
}
