.panelList {
  background-color: $grayLight;
  border-right: 1px solid $grayMedium;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;

  > :nth-child(1) {
    flex: 0 0 6rem;
  }

  > :nth-child(2) {
    flex: 1;
  }
}
