$textColor: #707070;
$textColorHover: white;
$textColorLight: #B7B7B7;
$textColorHighlight: #DC5542;

$backgroundColor: white;

$grayDarkest: #E3E3E3;
$grayDark: #F0F0F0;
$grayLight: #FBFBFB;

$break-small: 640px;
$break-medium: 760px;
$break-large: 1024px;

$menuColor: #292D36;

$breakpoint-xs: 600px;
$breakpoint-sm: 760px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
