@import "../media/font-awesome-icons/fontawesome.scss";
@import "../media/font-awesome-icons/fa-solid.scss";
@import "../media/font-awesome-icons/fa-regular.scss";

[class^="icon-"] {
  @include fa-icon;
}

@mixin create-awesome-icon($icon, $style: solid) {
  @extend .fa-#{$icon};

  @if $style == solid {
    @extend .fas;
    font-weight: 900;
  }
  @if $style == regular {
    @extend .far;
    font-weight: 400;
  }
}

.icon-user { @include create-awesome-icon(user) }
.icon-note { @include create-awesome-icon(file-alt, regular) }
.icon-star { @include create-awesome-icon(star, regular) }
.icon-search { @include create-awesome-icon(search) }
.icon-trash { @include create-awesome-icon(trash-alt, regular) }
.icon-hashtag { @include create-awesome-icon(hashtag) }
.icon-edit { @include create-awesome-icon(edit, regular) }
.icon-circle { @include create-awesome-icon(circle) }
.icon-angle-down { @include create-awesome-icon(angle-down) }
.icon-plus { @include create-awesome-icon(plus) }
.icon-ellipsis-h { @include create-awesome-icon(ellipsis-h) }
.icon-times { @include create-awesome-icon(times) }
.icon-check-circle { @include create-awesome-icon(check-circle, regular) }
.icon-times-circle { @include create-awesome-icon(times-circle, regular) }

.icon-bold { @include create-awesome-icon(bold) }
.icon-italic { @include create-awesome-icon(italic) }
.icon-underline {
  @include create-awesome-icon(underline);
  transform: scale(0.93) translateY(1px);
}
.icon-strike-through { @include create-awesome-icon(strikethrough) }
.icon-heading { @include create-awesome-icon(heading) }
.icon-paragraph { @include create-awesome-icon(paragraph) }
.icon-list-ul { @include create-awesome-icon(list-ul) }
.icon-list-ol { @include create-awesome-icon(list-ol) }
.icon-code { @include create-awesome-icon(code) }
.icon-quote-right { @include create-awesome-icon(quote-right) }
.icon-image { @include create-awesome-icon(image, regular) }
.icon-checkbox { @include create-awesome-icon(check-square, regular) }
