.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.menu {
  padding: 0;
  position: absolute;
  z-index: 101;
  margin-top: -0.6px;
  opacity: 1;
  background-color: $grayMedium;
  border: 1px solid $grayDark;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.24);
  border-radius: 0.4rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: $textColor;
  overflow: hidden;

  > * {
    list-style-type: none;
    padding: 0.5rem 3rem;
    cursor: default;

    &:hover {
      background-color: $textColorHighlight;
      color: $grayLight;
    }
  }
}
