.check-list {
  display: flex;
  flex-direction: row;

  & + & {
    margin-top: 0;
  }

  .checkbox-wrapper {
    margin-right: 0.75em;
  }

  .checkbox-label {
    flex: 1;

    &:focus {
      outline: none;
    }
  }
}
