.l-main {
  display: flex;
  height: 100%;

  > * {
    box-sizing: border-box;
    height: 100%;
  }

  &--loading {
    * {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    }
  }
}

.divider {
  cursor: col-resize;
  z-index: 1;
}

.l-panel-menu {
  background-color: $menuColor;
  color: $grayMedium;
  padding: 3.2rem 0;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.l-panel-list {
  background-color: $grayLight;
  border-right: 1px solid $grayMedium;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.l-panel-editor {
  background-color: $backgroundColor;
  font-size: 1.6rem;
  flex: 1;
  height: 100%;
  width: 100%;
}
