.editorWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    display: none;
    margin: 2rem 0 1rem;
    padding-top: 1rem;
    border-top: 1px solid $grayMedium;

    span {
      width: 3rem;
      height: 2.5rem;
      display: inline-block;

      &.active {
        color: $textColorHighlight;
      }
    }
  }
}

.editor {
  margin-top: 2rem;
  flex-grow: 1;

  h1 {
    font-size: 2.2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  code {
    background-color: $grayLight;
    border: 1px solid $grayMedium;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 4px 3px;
    font-family: "Source Code Pro", monospace;
  }

  blockquote {
    border-left: 2px solid $textColorLight;
    margin-left: 2rem;
    margin-right: 0;
    padding-left: 1rem;
    color: $textColorLight;
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
    font-weight: 200;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }
}
